@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #dfe9f5;
}

.container{
    max-width: 968px;
    margin: 0 1.5rem 0 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.4s;
    background: #03a4a4;
}

.header img{
    width: 2rem;
    height: 2rem;
}

.nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.toggle,
.close{
    color: #ffffff;
}
.logo{
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: 0.3s;
    font-weight: 700;
}
.logo i{
    font-size: 1.2rem;
    color: #ffffff;
}
.logo span{
    font-size: 1.2rem;
    margin-top: 3px;
}
.toggle{
    display: inline-flex;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .menu{
        position: fixed;
        top: 0;
        width: 65%;
        height: 100%;
        right: -100%;
        z-index: 100;
        transition: 0.3s;
        padding: 4rem 0 0 3rem;
        background: #03a4a4;
    }
}

.buttons{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}
.buttons i{
    color: #ffffff;
    font-size: 1.2 rem;
}
.close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}
.list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
a{
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
}
a:hover{
    color: rgb(36, 70, 92);
}

.show-menu{
    right: 0;
}

@media screen and (min-width:800px) {
    body{
        margin:0;
    }
    .nav{
        height: calc(3.5rem + 1.5rem);
        column-gap: 3rem;
    }
    .toggle,
    .close{
        display: none;
    }
    .list{
        flex-direction: row;
        column-gap: 3rem;
    }
    .menu{
        margin-left: auto;
    }
}

@media screen and (min-width: 992px) {
    .container{
        margin: 0 auto 0 auto;
    }
}
.active-link{
    position: relative;
    color: rgb(255, 255, 255);
}
.active-link::after{
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 70%;
    height: 2px;
    background: #e7eb04;
}
.wrapper{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 6rem auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.wrapper h1{
    font-size: 2rem;
    color: #07001f;
}
.wrapper p{
    margin-bottom: 1.7rem;
}
.form1 input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
    cursor: pointer;
}
.recover a{
    text-decoration: none;
    color: #07001f;
}
button{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: tomato;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background: rgba(122, 30, 30, 0.767);
}
.or{
    font-size: 0.8rem;
    margin-top: 1.5rem;
}
.icons i{
    color: #07001f;
    padding: 00.8rem 1.5rem;
    border-radius: 10px;
    margin-left: .9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
}
.icons i:hover{
    color: #fff !important;
    background: #07001f;
    transition: 1s;
}
.icons i:first-child{
    color: rgb(0, 0, 0);
}
.icons i:nth-child(2){
    color: rgb(0, 119, 181);
}
.icons i:last-child{
    color: rgb(24, 119, 242);
}
.not-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
}
.not-member a{
    color: tomato;
    text-decoration: none;
}
.wrapper a:hover{
    text-decoration: underline;
}

.signup-box{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 6rem auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.form2 label{
    display: flex;
    margin-top: 8px;
    padding: 12px 14px;
    font-size: 18px;
}
.form2 input{
    width: 95%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.policy{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    cursor: pointer;
}
.policy a{
    color: tomato;
    text-decoration: none;
}
.para-2{
    font-size: 0.8rem;
    margin-top: 1.4rem;
}
.para-2 a{
    color: tomato;
    text-decoration: none;
}
.signup-box a:hover{
    text-decoration: underline;
}
